:root {
    --main-color-blue: #1f3b57;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.blurred {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

header {
    display: flex;
    position: relative;
    background-color: var(--main-color-blue);
    padding: 15px;
    color: white;
    text-align: center;

    & > div img {
        display: none;
    }
}

header .links {
    position: absolute;
    left: 37%;
    top: 35%;
}

header .links a {
    color: aliceblue;
    padding: 5px;
    text-decoration: none;
}

header .login button {
    border: solid 2px rgb(70, 125, 180);
    background: transparent;
    color: white;
    font-size: large;
}

header .login button:active {
    border: solid 2px white;
    color: rgb(70, 125, 180);
}

#hero {
    background-color: rgb(31, 59, 87);
    background-image: url('warehouse-cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    text-align: center;
    color: aliceblue;
    font-size: larger;
}

section {
    padding: 20px;
}

.about {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: row;
    align-items: center;

    & > #about {
        width: 40%;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & > #est{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: xx-large;
        color: rgb(70, 125, 180);
        padding: 0 30px;
        border: solid;
    }
}

.inventory {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    flex-direction: row-reverse;
    align-items: center;

    & > #inventory {
        width: 40%;
        font-size: x-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & > #est{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(70, 125, 180);
        padding: 20px;
        border: solid;
    }
}

.main-connection1 {
    height: 20px;
    width: 100%;
    background: linear-gradient(to bottom, white,#d8d8d8)
}

.industry {
    width: 100%;
    background-color: #d8d8d8;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

#industries {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 50%;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#industries h2 {
    grid-column: span 3;
    text-align: center;
}

#industries p:first-of-type {
    grid-column: span 3;
}

#industries ul {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

#industries ul li {
    margin: 0 20px 10px;
}

#industries ul li strong {
    font-size: xx-large;
}

#industries p:last-of-type {
    grid-column: span 3;
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.main-popup,
.create-account {
    z-index: 2;
    position: absolute;
    top: 8%;
    left: 39.7%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 500px;
    background-color: var(--main-color-blue);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.main-popup p,
.create-account p {
    position: absolute;
    top: 0;
    right: 20px;
    cursor: pointer;
}

.create-account form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-popup div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-popup div label,
.create-account form div label {
    font-size: xx-large;
    margin-bottom: 20px;
}

.main-popup div input,
.create-account form div input {
    height: 35px;
    border-radius: 5px;
    width: 100%;
}

.main-popup .submit {
    width: 20%;
}

.create-account form .submit {
    display: flex;
    justify-content: center;
}

.main-popup .submit button,
.create-account form .submit button {
    height: 40px;
    border: solid 2px rgb(70, 125, 180);
    background: transparent;
    color: white;
}

.main-popup .submit button:active,
.create-account form .submit button:active {
    border: solid 2px black;
    color: rgb(70, 125, 180);
}

.main-popup h3 strong {
    text-decoration: underline;
    cursor: pointer;
}

.create-account form .success {
    display: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

